#header {
padding: 50px;
align-content: center;
background-color: lavenderblush;
font-family: 'Lucida Sans';
color: rgb(227, 65, 127);
}

#LoginSpace{
    align-content: center;
    padding: 50px;
    border: 2px solid #a5026f;
}



.nav {
    background-color: rgb(243, 154, 203); 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    color: #000000;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }