#header {
padding: 50px;
align-content: center;
background-color: rgb(163, 218, 250);
font-family: 'Lucida Sans';
color: rgb(0, 68, 135);
}
*{
  box-sizing: border-box; 
}

a{text-decoration: none;}

.CursiveFont{
  font-family: 'Gugi', cursive;
}

#LoginSpace{
    align-content: center;
    padding: 50px;
    border: 2px solid #0a5e9f;
}

main{
  width: 75%; margin: 50px auto; 
  border:1px solid grey;
  display: grid; color: white;
  grid-template-rows: 60px 100px 200px 60px;
  grid-template-columns: repeat(3, 1fr) 150px;
  grid-gap: 20px;
 }

 .div1{ background-color: #fac8cc; grid-column: 1/-1;}
 .div2{ background-color: #c4fada; }
 .div3{ background-color: #b4d7f9; }
 .div4{ background-color: #ababf8; }
 .div5{ background-color: #47484b; grid-row:2/4; grid-column: 4/5;}
 .div6{ background-color: #f4d395; grid-column: 1/ 4;}
 .div7{ background-color: #a4fafa; grid-column: 1/-1;}

#BasicContent{
  float: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  color: rgb(4, 4, 4);
}

.nav {
    background-color: rgba(47, 97, 234, 0.6); 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    color: #000000;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

  .bodytech {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Create a column layout with Flexbox */
  .row {
    display: flex;
  }
  
  /* Left column (menu) */
  .left {
    flex: 35%;
    padding: 15px 0;
  }
  
  .left h2 {
    padding-left: 8px;
  }
  
  /* Right column (page content) */
  .right {
    background-color:rgb(210, 212, 249);
    flex: 65%;
    padding: 15px;
  }
  
  /* Style the search box */
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
